<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BenchBnb</title>
  </head>
  <body>
    <div class="header">
      <div class="logo">BenchBnb</div>
      <div class="menu">Rent a bench now!</div>
    </div>
    <div id="content">
    </div>
  </body>
</html>
